# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/images/*
!public/images/assets/
!public/images/computercenter/
!public/images/computercenter/**
!public/images/suceessstories/
public/images/suceessstories/*
!public/images/suceessstories/*.jpeg
!public/images/suceessstories/*.jpg
!public/images/suceessstories/*.png
!public/images/owner/
!public/images/testimonials/
!public/images/aaghaz/
